#members.list-with-details(layout="row" layout-align="center")
  md-content.empty-list(ng-if="members.length == 0" flex-gt-sm="40" flex-sm="{{ $state.current.data.listSizeSm }}")
    | Aucun membres
  md-content.items-list(
    flex-sm="{{ $state.current.data.listSizeSm }}"
    flex-gt-sm="40"
    ng-if="members.length > 0"
    layout="column"
  )
    .filter(layout="row" layout-align="center")
      md-button.md-raised(flex ng-click="seeOnlyActive()" ng-class="{'md-primary': activeFilter == 'active'}")
        md-icon.material-icons(md-font-icon="icon-person")
      md-button.md-raised(flex ng-click="seeAll()" ng-class="{'md-primary': activeFilter == 'all'}")
        md-icon.material-icons(md-font-icon="icon-person")
        md-icon.material-icons(md-font-icon="icon-person-outline")
      md-button.md-raised(flex ng-click="seeOnlyInactive()" ng-class="{'md-primary': activeFilter == 'inactive'}")
        md-icon.material-icons(md-font-icon="icon-person-outline")
    md-input-container.search.md-no-float
      md-icon.material-icons(md-font-icon="icon-search" aria-label="search")
      input(ng-model="filter.$" aria-label="searchInput")
    md-list(flex)
      md-list-item.member.md-whiteframe-z1(
        ng-repeat="member in members | orderBy:['lastname', 'firstname'] | filter: filter"
        ng-click="goToMember(member)"
        ui-sref-active="selected"
        ui-sref=".details({id: member.id})"
        ng-class="{'first': $first, 'last': $last}"
      )
        .md-avatar
          md-icon.material-icons.md-icon-avatar(md-font-icon="icon-person" ng-if="member.isActive")
          md-icon.material-icons.md-icon-avatar(md-font-icon="icon-person-outline" ng-if="!member.isActive")
        .md-list-item-text
          .name {{ member.lastname | uppercase }} {{ member.firstname }}
          .dci-number {{ member.dci_number }}

  md-content.details(flex-gt-sm="60" ui-view="details" flex-sm="{{ $state.current.data.detailsSizeSm }}")
    | Sélectionner un membre pour afficher les détails

md-button.md-fab.main-button(ng-if="!('members.new' | isState)", aria-label="Add", ng-click="add()" layout="column" layout-align="center center")
  md-icon.material-icons(md-font-icon="icon-person-add")
