md-content#members(layout="row" layout-align="center")
  .no-members(ng-if="members.length == 0")
    | Aucun membres
  selectable-list.members(
    ng-if="members.length > 0"
    flex="100"
    layout="column"
    layout-align="start center"
    layout-fill
  )
    selectable-item.member(
      ng-repeat="member in members | orderBy:['lastname', 'firstname']"
      flex
      id="{{ 'member' + member.id }}"
    )
      div(ng-if="!parent.selected")
        .name {{ member.lastname | uppercase }} {{ member.firstname }}
        .dci-number {{ member.dci_number }}

      div(ng-if="parent.selected")
        .main-title(flex="100" ng-if="!parent.isEditing") {{ member.lastname | uppercase }} {{ member.firstname }}
          .informations(flex="100" layout="row" layout-align="start start" layout-padding layout-wrap)
            editable-item.md-whiteframe-z1(flex="100" save-object="save" editable-object="member")
              div(ng-if="!parent.isEditing")
                .title Informations
                .info
                  span.subtitle DCI:
                  span.value {{ member.dci_number }}
                .info
                  span.title Email:
                  span.value {{ member.email }}
              div(ng-if="parent.isEditing")
                form(name="edit")
                  md-input-container
                    label Prénom
                    input(type="text" required ng-model="parent.editingObject.firstname")
                  md-input-container
                    label Nom
                    input(type="text" required ng-model="parent.editingObject.lastname")
                  md-input-container
                   label Numéro DCI
                   input(type="text" name="dci_number" required ng-model="parent.editingObject.dci_number" dci-input)
                   div(ng-messages="edit.dci_number.$error" ng-show="add.dci_number.$error.dci_number")
                     div(ng-message="dci_number") Numéro DCI déjà utilisé
                  md-input-container
                    label Email
                    input(type="email" ng-model="parent.editingObject.email")

            editable-item.md-whiteframe-z1(flex="100")
             .title Cotisations (fake)
             .info
               span.subtitle {{ currentSeason.name }}:
               span.value Payé 18€
             .info
               span.title Récapitulatif
               span.value(ng-if="member.cotisations.length > 0") span(ng-repeat="cotisation in member.cotisations") {{ cotisation.season.name }}
            editable-item.md-whiteframe-z1(flex="100")
             .title Point de ligue (fake)
             .info
               span.subtitle Saison en cours:
               span.value 18pts

md-button.md-fab.main-button(aria-label="Add", ng-click="add($event)" layout="column" layout-align="center center")
  ng-md-icon(icon="add", style="fill: white" flex)

